<div class="card">
    <div class="card-header text-center">
        <img src="{{launchData?.links?.mission_patch_small?launchData?.links?.mission_patch_small:''}}" alt="" class="thumbnail">
    </div>
    <div class="card-body">
        <p class="card-title">{{launchData?.mission_name}}</p>
        <div><strong>Misson Ids:</strong>
            <ul class="mission-ids values-font">
                <li *ngFor="let id of launchData.mission_id">{{id}}</li>
            </ul>
        </div>
        <div><strong>Launch Year : </strong><span class="values-font">{{launchData?.launch_year}}</span></div>
        <div><strong>Successfull Launching : </strong><span class="values-font">{{launchData?.launch_success}}</span>
        </div>
        <div><strong>Successfull Landing : </strong><span class="values-font">{{launchData?.rocket?.first_stage?.cores[0]?.land_success}}</span></div>
    </div>
</div>